clipboardNodeRed/chatBotfacenodered.txt
[{"id":"add2d24a.79791","type":"http in","z":"1c21a4c3.289a3b","name":"","url":"/chatfuel","method":"get","upload":true,"swaggerDoc":"","x":97.42857360839844,"y":48.571428298950195,"wires":[["ab24f168.a9834"]]},{"id":"ab24f168.a9834","type":"change","z":"1c21a4c3.289a3b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"},{"t":"set","p":"resAux","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":132.58728790283203,"y":118.03175354003906,"wires":[["4e3d1515.5bfe2c"]]},{"id":"686ef2c8.e9205c","type":"watson-conversation-v1","z":"1c21a4c3.289a3b","name":"","workspaceid":"803f2566-a881-4aee-8978-8e70b81849f0","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":570.8729858398438,"y":313.46032524108887,"wires":[["e942de5a.61399"]]},{"id":"9981c5e8.33d248","type":"change","z":"1c21a4c3.289a3b","name":"","rules":[{"t":"set","p":"res","pt":"msg","to":"resAux","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1185.2659301757812,"y":356.3532934188843,"wires":[["94c826c4.be4508"]]},{"id":"94c826c4.be4508","type":"http response","z":"1c21a4c3.289a3b","name":"","statusCode":"","headers":{},"x":1459.7977294921875,"y":444.8175048828125,"wires":[]},{"id":"cccb5f97.bf621","type":"watson-speech-to-text","z":"1c21a4c3.289a3b","name":"","continuous":true,"speakerlabels":false,"lang":"pt-BR","langhidden":"","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"3XiY55cxFNWh","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":606.5872955322266,"y":228.03175830841064,"wires":[["686ef2c8.e9205c"]]},{"id":"4e3d1515.5bfe2c","type":"switch","z":"1c21a4c3.289a3b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"https://cdn.fbsbx.com","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":125.15869903564453,"y":192.0317578315735,"wires":[["c8baede2.03d88"],["3c016880.8b7038"]]},{"id":"3c016880.8b7038","type":"change","z":"1c21a4c3.289a3b","name":"","rules":[{"t":"set","p":"audio","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":357.4444274902344,"y":236.8888931274414,"wires":[["686ef2c8.e9205c"]]},{"id":"ec96a1f1.1cb14","type":"watson-text-to-speech","z":"1c21a4c3.289a3b","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"yoowsXGjIaNB","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":997.2660675048828,"y":196.1031837463379,"wires":[["e0e7b9da.2475b8"]]},{"id":"ef5cff85.946b3","type":"function","z":"1c21a4c3.289a3b","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":837.1944580078125,"y":195.4245901107788,"wires":[["ec96a1f1.1cb14"]]},{"id":"871ec85c.30ec08","type":"http in","z":"1c21a4c3.289a3b","name":"","url":"/facebook/response","method":"get","upload":false,"swaggerDoc":"","x":141.4444351196289,"y":406.74617099761963,"wires":[["8a408f84.2c34b"]]},{"id":"536b32f5.d2d8cc","type":"http response","z":"1c21a4c3.289a3b","name":"","statusCode":"","headers":{"content-type":"audio/mpeg3"},"x":662.4444389343262,"y":407.17469787597656,"wires":[]},{"id":"8a408f84.2c34b","type":"change","z":"1c21a4c3.289a3b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.audioid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":363.15869903564453,"y":406.8175964355469,"wires":[["91f2c542.bbdae8"]]},{"id":"b9018afc.b0f878","type":"function","z":"1c21a4c3.289a3b","name":"","func":"var url = \"https://\" + msg.req.headers.host;\n\nif(!context.global.speech)\n{\n    context.global.speech = [];\n    context.global.speech[0] =\n    {_id:context.global.id.toString(),speech:msg.payload};\n}\nelse\n{\n    var pos;\n    pos = context.global.speech.length;\n    context.global.speech[pos] =\n    {_id:context.global.id.toString(),speech:msg.payload};\n}\n\nmsg.payload = [{\"attachment\":{\n    \"type\":\"audio\",\n    \"payload\":{\"url\":url+ \"/facebook/response?audioid=\"+context.global.id.toString()}\n    }\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1031.444450378418,"y":356.31745529174805,"wires":[["9981c5e8.33d248"]]},{"id":"91f2c542.bbdae8","type":"function","z":"1c21a4c3.289a3b","name":"","func":"for(var k in context.global.speech) {\n  if (context.global.speech[k]._id == msg.payload) \n    {\n      msg.payload = context.global.speech[k].speech;\n// Delete an item\n      context.global.speech.splice(k,1);\n      break;\n    } \n  }\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload.audio, 'utf8');\n//return msg;","outputs":1,"noerr":0,"x":526.5634918212891,"y":407.17471408843994,"wires":[["536b32f5.d2d8cc"]]},{"id":"c8baede2.03d88","type":"change","z":"1c21a4c3.289a3b","name":"","rules":[{"t":"set","p":"audio","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":366.15869903564453,"y":150.3174705505371,"wires":[["991257a4.bc72e8"]]},{"id":"e942de5a.61399","type":"switch","z":"1c21a4c3.289a3b","name":"","property":"audio","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":749.4444313049316,"y":314.8888807296753,"wires":[["ef5cff85.946b3"],["e39a087a.36c968"]]},{"id":"e39a087a.36c968","type":"function","z":"1c21a4c3.289a3b","name":"","func":"msg.payload = \n[{\"text\":msg.payload.output.text[0]}];\nreturn msg;","outputs":1,"noerr":0,"x":1036.2001113891602,"y":451.4285612106323,"wires":[["94c826c4.be4508"]]},{"id":"e0e7b9da.2475b8","type":"function","z":"1c21a4c3.289a3b","name":"","func":"context.global.id = context.global.id || 0;\ncontext.global.id = Math.floor((Math.random() * 100000000000) + 1);\nreturn msg;","outputs":1,"noerr":0,"x":1156.1072387695312,"y":195.92857789993286,"wires":[["d5caf3c0.9544e"]]},{"id":"991257a4.bc72e8","type":"ffmpeg-conversion","z":"1c21a4c3.289a3b","name":"","format":"wav","audiochannels":"mono","x":572.015869140625,"y":152.88887691497803,"wires":[["cccb5f97.bf621"]]},{"id":"d5caf3c0.9544e","type":"ffmpeg-conversion","z":"1c21a4c3.289a3b","name":"","format":"mp3","audiochannels":"mono","x":1318.0000801086426,"y":195.4285888671875,"wires":[["b9018afc.b0f878"]]}]