clipboardNodeRed/clipboard Crawller node red.txt
[{"id":"d2bca7e4.2ed928","type":"http request","z":"6b2c7d3f.bf06f4","name":"Faan","method":"GET","ret":"txt","url":"http://www.imdb.com/chart/moviemeter","tls":"","x":278,"y":303,"wires":[["7b9fb6a8.4a4898"]]},{"id":"81a10900.7e0ec8","type":"inject","z":"6b2c7d3f.bf06f4","name":"","topic":"trigg","payload":"gris","payloadType":"flow","repeat":"","crontab":"","once":false,"x":128,"y":303,"wires":[["d2bca7e4.2ed928"]]},{"id":"a522f208.b5eca","type":"debug","z":"6b2c7d3f.bf06f4","name":"","active":true,"console":"true","complete":"payload","x":618,"y":303,"wires":[]},{"id":"7b9fb6a8.4a4898","type":"html","z":"6b2c7d3f.bf06f4","name":"","tag":"td#minutes","ret":"text","as":"multi","x":438,"y":303,"wires":[["a522f208.b5eca"]]},{"id":"3652c3ed.8982cc","type":"http request","z":"6b2c7d3f.bf06f4","name":"Faan","method":"GET","ret":"txt","url":"http://www.imdb.com/chart/moviemeter","tls":"","x":326,"y":418,"wires":[["af0edd6e.31555"]]},{"id":"af0edd6e.31555","type":"html","z":"6b2c7d3f.bf06f4","name":"extract","tag":"","ret":"text","as":"single","x":466,"y":418,"wires":[["ea0c5e6.54793a"]]},{"id":"211534bc.a618cc","type":"inject","z":"6b2c7d3f.bf06f4","name":"","topic":"trigg","payload":"gris","payloadType":"flow","repeat":"","crontab":"","once":false,"x":176,"y":418,"wires":[["3652c3ed.8982cc"]]},{"id":"5ee8d024.22001","type":"debug","z":"6b2c7d3f.bf06f4","name":"","active":true,"console":"true","complete":"true","x":766,"y":418,"wires":[]},{"id":"ea0c5e6.54793a","type":"function","z":"6b2c7d3f.bf06f4","name":"Trim data","func":"msg.payload = [{minutes:msg.payload[0].trim()}, {minutes:msg.payload[1].trim()}]\nreturn msg;","outputs":1,"noerr":0,"x":616,"y":418,"wires":[["5ee8d024.22001"]]}]